.nav{
    font-size: 70px;
    float: none;
}
.nav a{
    color: white;
}
.img{
    border: solid #007bff;
}
.instruction{
    font-size: 50px;
    border: solid #343a40;
}
.winloss{
    color: aliceblue;
    background-color: #343a40;
    font-size: 40px;
    line-height: 80px;
}
.guess{
    color: aliceblue;
    background-color: #343a40;
    font-size: 30px;
    line-height: 80px;
}
.comp{
    color: aliceblue;
    background-color: #343a40;
    font-size: 40px;
    line-height: 80px;
}